body {
	background-color: #56836F;
}
.logo {
	float: right;
	width: 200px;
	margin: 32px 54px 55px 63.4px;
}
.nav-a {
	float: right;
	padding: 20px;
	font-size: 48px;
	color: white;
	margin-top: 30px;
}
.clear {
	clear: both;
}
/* Seciton */
.pirveli {
	width: 617px;
	height: 356px;
	float: left;
	background-color: #FCEE21;
	margin: 137px 18px 120px 112px;
}
.meore {
    width: 523px;
    height: 356px;
    float: left;
    background-color:#FCEE21 ;
    margin-top: 137px;

}
.img1 {
	width: 151px;
	float: right;
	margin: 25px;
}
.img2 {
	width: 151px;
	float: left;
	margin: 25px;
}
p {
	padding: 7px;
	font-size: 16px;
}